@media(max-width:768px){
 p{
    font-size: 25px;
 }

}
/* .box{
    width: 100%;
    height: 100px;
    background-color: green;
}
@media(min-width:768px)
{
    .box {
        background-color: brown;
    }
} */
 nav ul{
    display:flex;
    justify-content: space-around;  
 }