.container {
  display: flex;
  height: 600px;
  width: 1000px;
  background-color: aqua;
  border: 1px, solid, black;
  /* flex-direction: row-reverse;
} */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.item {
  height: 100px;
  width: 200px;
  border: 1px, solid, black;
  background-color: chocolate;
  text-align: center;
  align-content: center;
}
.item2 {
  order: -1;
  flex-grow: 2;
}
